html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: $color_white;
  font-family: $fonts_josefin;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
.arrow {
  font-size: 35px;
  position: fixed;
  top: 5px;
  left: 15px;
  z-index: 2;
  cursor: pointer;
  color: rgba($color: $color_light_red_orange, $alpha: 1);
  letter-spacing: -3px;
}

@media screen and (min-width: $desktopBP) {
  button {
    cursor: pointer;
  }

  .arrow {
    font-size: 45px;
    transition: color 300ms ease-in-out;
    position: fixed;
    top: 0px;
    left: 120px;
    z-index: 2;
    cursor: pointer;
    color: $color_pink;
    letter-spacing: -4px;
    &:hover {
      color: rgba($color: $color_light_red_orange, $alpha: 1);
    }
  }
  .shadow {
    text-shadow: 0 0.2px 0px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0, 0, 0, 0), 0 0 20px rgba(0, 0, 0, 0.4);
  }
}
