.recipe__title {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin: 0;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 60px 0 10px;
        color: $color_white;
        font-family: $fonts_josefin;
    }
    h1::first-letter {
        text-transform: uppercase;
    }
}

.button__container {
    color: white;
    display: flex;
    justify-content: space-around;
    background: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    outline: none;

    &--left {
        flex-direction: row-reverse;
    }

    &--left,
    &--right {
        justify-content: space-between;
    }

    &--left p {
        padding-right: 50px;
    }

    &--right p {
        padding-left: 50px;
    }
}

.recipe__ingredients {
    height: calc(100vh - 60px);
    color: $color_white;
    font-family: $fonts_montserrat;

    h2 {
        margin: 0;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 64px 0 14px;
        color: $color_white;
        font-family: $fonts_josefin;
    }

    &__ul {
        margin: 0 auto;
        padding: 20px 0 20px 30%;
        background: rgba($color: #000000, $alpha: 0.5);
        min-height: calc(100vh - 268px);
    }

    &__ul__li {
        margin: 10px 0;
    }
}

.recipe__how-to-cook {
    height: calc(100vh - 60px);
    color: $color_white;
    font-family: $fonts_montserrat;

    h2 {
        margin: 0;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 64px 0 14px;
        color: $color_white;
        font-family: $fonts_josefin;
    }

    &__ol {
        margin: 0 auto;
        padding: 20px 0 20px 22%;
        background: rgba($color: #000000, $alpha: 0.5);
        min-height: calc(100vh - 268px);
    }

    &__ol__li {
        margin: 10px 0;
    }
}

.bgImg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 300vw;
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: center;
}

.recipe__edit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color_pink_beige;
    color: $color_white;
    border: none;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.arrowBack {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    p {
        font-weight: 900;
        color: $color_white;
        text-align: center;
    }
}

/* Background image styling */
/* .parallax-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130%;
    height: 100%;
    background: url('/img/pizza.jpg');
    background-size: cover;
    background-position: center center;
} */

/* Swiper button styling */
.swiper-button-prev, 
.swiper-button-next {
    position: absolute;
    top: calc(100% - 50px);
    width: 50vw;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    outline: none;
}
.swiper-button-next {
    right: 0;
    left: auto;
}
.swiper-button-prev {
    left: 0;
    right: auto;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
}

/* Swiper pagination styling */
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 50px;
    left: 0px;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5)
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    z-index: 11;
    transition: opacity 300ms ease .3s;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 4px;
}
.swiper-pagination-bullet {
    background-color: $color_white;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: $color_pink !important;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    opacity: 1;
    border-radius: 100%;
    background: $color_white;
}