.recipe__title {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h2 {
        margin: 50px 0 0 0;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 10px 0;
        color: $color_white;
    }
}

.button__container {
    color: white;
    display: flex;
    justify-content: space-around;
    background: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;

    &--left {
        flex-direction: row-reverse;
    }

    &--left,
    &--right {
        justify-content: space-between;
    }

    &--left p {
        padding-right: 10px;
    }

    &--right p {
        padding-left: 10px;
    }
}

.recipe__ingredients {
    height: calc(100vh - 60px);
    color: $color_white;

    h3 {
        margin: 50px 0 0 0;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 12px 0;
        color: $color_white;
    }
}

.recipe__how-to-cook {
    height: calc(100vh - 60px);
    color: $color_white;

    h3 {
        margin: 50px 0 0 0;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 12px 0;
        color: $color_white;
    }
}

/* Background image styling */
.parallax-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130%;
    height: 100%;
    background: url('/img/pizza.jpg');
    background-size: cover;
    background-position: center center;
}

/* Swiper button styling */
.swiper-button-prev, 
.swiper-button-next {
    position: absolute;
    top: calc(100% - 50px);
    width: 50vw;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    /* background: rgba($color: #000000, $alpha: 0.5); */
}
.swiper-button-next {
    right: 0;
    left: auto;
}
.swiper-button-prev {
    left: 0;
    right: auto;
    /* background: url('/img/back.svg'); */
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
}

/* Swiper pagination styling */
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 50px;
    left: 0px;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5)
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    z-index: 11;
    transition: opacity 300ms ease .3s;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 4px;
}
.swiper-pagination-bullet {
    background-color: $color_white;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: $color_pink !important;
}
/* .swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(0, 122, 255);
} */
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    opacity: 1;
    border-radius: 100%;
    background: $color_white;
}