.create__recipe__title {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 100;
  opacity: 0.8;
}
.create__recipe__form {
  padding-bottom: 100px;
  &__button {
    background-color: $color_pink_beige;
    color: $color_white;
    border: none;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 10px;
    margin: 20px auto;
  }
}
.create__recipe__form__input {
  display: block;
  margin: 0 50px;

  &__title {
    font-size: 10px;
  }

  &__text {
    width: calc(100% - 20px);
    margin: 6px 0;
    padding: 4px 10px;
    border: 1px solid rgba($color: $color_light_red_orange, $alpha: 0.6);
  }

  &__image {
    display: none;

    &__title {
      font-size: 10px;
    }

    &__box {
      width: calc(100% - 120px);
      height: 70px;
      margin: 6px 0;
      background-color: white;
      position: relative;
       &__img {
        width: calc(100% - 120px);
        height: auto;
        margin: 6px 0;
       }
    }

    &__icon {
      font-size: 23px;
      opacity: 0.6;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -53%);
    }
  }

  &__add {
      text-align: right;
      font-size: 11px;
      opacity: 0.9;
    &__icon {
      color: $color_green;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__number {
    height:20px;
    width:20px;
    background: $color_light_red_orange;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-flow: column; 
    vertical-align: top;
    position: absolute;
    left: -25px;
  }
  
}

.create__recipe__form__select,
.create__recipe__form__category {
  margin: 6px 0;
  padding: 4px 10px;
  border: 1px solid rgba($color: $color_light_red_orange, $alpha: 0.6);
  width: 100%;
  background-color: white;
}

.create__recipe__form__select:hover,
.create__recipe__form__category:hover {
  border: 1px solid rgba($color: $color_light_red_orange, $alpha: 1);
}

.create__recipe__form__select option,
.create__recipe__form__category option {
  font-weight: normal;
}
select {
    border-radius: 0;
}

.error__message {
  font-size: 10px;
  font-family: $fonts_montserrat;
  color: red;
}

