.create__recipe__title {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 100;
  opacity: 0.8;
}
.create__recipe__form {
  padding-bottom: 100px;
  &__button {
    background-color: $color_pink_beige;
    color: $color_white;
    border: none;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 10px;
    margin: 20px auto;
  }
}
.create__recipe__form__input {
  display: block;
  margin: 0 50px;

  &__title {
    font-size: 10px;
  }

  &__text {
    width: calc(100% - 20px);
    margin: 6px 0;
    padding: 4px 10px;
    border: 1px solid rgba($color: $color_light_red_orange, $alpha: 0.6);
    font-family: $fonts_montserrat;
  }

  &__image {
    display: none;

    &__title {
      font-size: 10px;
    }

    &__box {
      width: calc(100% - 120px);
      height: 70px;
      margin: 6px 0;
      background-color: white;
      position: relative;
       &__img {
        width: calc(100% - 120px);
        height: auto;
        margin: 6px 0;
       }
    }

    &__icon {
      font-size: 23px;
      opacity: 0.6;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -53%);
    }
  }

  &__add {
      text-align: right;
      font-size: 11px;
      opacity: 0.9;
    &__icon {
      color: $color_green;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__number {
    height:20px;
    width:20px;
    background: $color_light_red_orange;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-flow: column; 
    vertical-align: top;
    position: absolute;
    left: -25px;
  }
  
}

.create__recipe__form__select,
.create__recipe__form__category {
  margin: 6px 0;
  padding: 4px 10px;
  border: 1px solid rgba($color: $color_light_red_orange, $alpha: 0.6);
  width: 100%;
  background-color: white;
}

.create__recipe__form__select:hover,
.create__recipe__form__category:hover {
  border: 1px solid rgba($color: $color_light_red_orange, $alpha: 1);
}

.create__recipe__form__select option,
.create__recipe__form__category option {
  font-weight: normal;
}
select {
    border-radius: 0;
}

.error__message {
  font-size: 10px;
  font-family: $fonts_montserrat;
  color: red;
}

/*_______________
|               |
|    Desktop    |
|               |
|_______________*/

@media screen and (min-width: $desktopBP) {

  .create__recipe {
    width: calc(100vw - 100px);
    right: 0;
    left: 100px;
    position: relative;
    margin: 0;
    padding: 100px 0 0 0;
    overflow-x: hidden;

    &__title {
      margin: 0;
      padding: 30px 0 50px;
      font-size: 45px;
      opacity: .6;
    }

    &__form__button {
      padding: 8px 16px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      margin: 0 auto;
      height: max-content;
      right: 0;
      bottom: 10px;
      width: 80%;
      position: absolute;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background: $color_green;
      }
    }

    .create__recipe__form__input {
      margin: 0;
      display: flex;
      justify-content: space-evenly;

      &__title {
        font-size: 16px;
      }
    
      &__text {
        width: calc(100% - 20px);
        margin: 2px 0 10px;
      }

      &__add {
        cursor: pointer;
        right: 0;
        position: absolute;
        font-size: 14px;

        &__icon {
          font-size: 18px;
        }
      }

      .create__recipe__form__input__textarea {
        height: 60px;
      }

      .create__recipe__form__image__container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 20px;
      }

      .create__recipe__form__button__container {
        width: 50%;
        position: relative;
        padding: 0 2px;
      }

      &__image {
    
        &__title {
          font-size: 16px;
          margin-top: 20px;
          width: 50%;
        }

        &__box {
          width: 100%;
          height: 120px;
          margin: 6px 0;
          position: relative;
          cursor: pointer;

           &__img {
            width: 100%;
            height: auto;
            margin: 6px 0;
           }
        }
      }
    }

    .form__container__left, 
    .form__container__right {
      width: 30%;
      position: relative;
    }

    .create__recipe__form__select,
    .create__recipe__form__category {
      margin: 2px 0 10px;
      width: 100%;
    }
  }

  // Microsoft Edge Specific styling
  @supports (-ms-ime-align:auto) {
    .create__recipe__form__input {
        justify-content: space-around;
    }
  }
}