.delete__recipe {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color_pink_beige;
    color: $color_white;
    border: none;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.error__edit__message {
    font-size: 10px;
    font-family: $fonts_montserrat;
    color: red;
    text-align: center;
}