.hero {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: calc(100vh - 60px);
    background: url('/img/bgImg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;

    h1 {
        font-size: 50px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -130%);
        color: rgb(49, 49, 49);
        font-weight: 100;
    }
}

/*_______________
|               |
|    Desktop    |
|               |
|_______________*/

@media screen and (min-width: $desktopBP) {

    .hero {
        width: calc(100vw - 100px);
        right: 0;
        height: 100vh;
        left: 100px;

        h1 {
            font-size: 80px;
            top: 40vh;
        }
    }
}