// Colors
$color_green: #768C46;
$color_pink_beige: #BFA89B;
$color_white: #F2F2F2;
$color_light_red_orange: #BF7F5A;
$color_pink: #F2A9A2;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat&display=swap');

$fonts_josefin: 'Josefin Sans', sans-serif;
$fonts_montserrat: 'Montserrat', sans-serif;

// Break point
// 400px 