.navigation {
    width: 100vw;
    height: 60px;
    background-color: $color_green;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 101;

    &__ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    &__ul__li {
        display: inline-block;
        font-size: 30px;
    }
    
    &__ul__home {
        background: url('/img/pie.svg');
        width: 30px;
        height: 30px;
    }

    &__ul__li--link {
        text-decoration: none;
        color: $color_white;
    }

    &__dots {
        font-size: 12px;
        padding-bottom: 6px;
        cursor: pointer;
    }
}

// Styling for menu
.menuOpen {
    transition: 600ms ease-in-out;
    width: 100vw;
    height: calc(100vh - 60px);
    background: $color_green;
    position: absolute;
    bottom: 60px;
    left: 0; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;

    // And when hidden
    &.hidden {
        height: 0;
        bottom: 0;
    }
}

.menu {
    &__ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 100px;
    }

    &__ul__li {
        padding: 10px;
    }

    &__ul__li--link {
        text-decoration: none;
        color: $color_white;
    }
}

// A small fix, otherwise the ul will break the layout
.menuOpen.hidden > ul {
    display: none;
}