.loading {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: $color_white;
}
.loading__symbol {
    background-image: url('/img/pie.svg');
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 50px);
    animation: rotate;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}