// Styling and animation for loading logo
.loading {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: $color_white;
}
.loading__symbol {
    background-image: url('/img/pie.svg');
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 50px);
    animation: rotate;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Styling and animation for intro logo
.intro {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    background-color: $color_white;
    animation-name: fadeOut;
    animation-duration: 3200ms;
    animation-delay: 500ms;
    opacity: 0;
}
.intro__symbol {
    background-image: url('/img/pie.svg');
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 50px);
    animation: rotate;
    animation-duration: 3200ms;
    animation-delay: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes rotate{
    0% {
        z-index: 200;
        opacity: 1;
    }
    10% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
    70% {
        opacity: 1;
    }
    100% {
        z-index: 200;
        opacity: 0;
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 200;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 200;
    }
}