.login__title {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 100;
    opacity: .8;
}
.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}
.login__form {


    &__button {
        background-color: $color_green;
        color: $color_white;
        border: none;
        padding: 4px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 10px;
        margin: 20px auto;
    }
    &__button:disabled {
        opacity: 0.5;
        font-family: $fonts_montserrat;
    }
}
.login__form__input {
    display: block;
    margin: 0 50px;

    &__text {
        width: calc(100% - 20px);
        margin: 6px 0;
        padding: 4px 10px;
        border: 1px solid rgba($color: $color_light_red_orange, $alpha: .6);
    }
}
.forgot__password {
    color: $color_light_red_orange;
    font-size: 10px;
    text-align: right;
    font-family: $fonts_montserrat;
}
.sign__up {
    margin: 33px auto 20px;
}
hr {
    width: 90%;
    opacity: .9;
}
.switch__login {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    /* color: $color_light_red_orange */;
    font-weight: 100;
    opacity: .8;
}