.myRecipes {
    background: $background_gradient;
    min-height: 100vh;

    h1 {
        text-align: center;
        padding: 30px 0;
        margin: 0;
    }

    &__recipes__list{
        padding-bottom: 60px;
    }

    &__btn {
        background-color: $color_light_red_orange;
        color: $color_white;
        border: none;
        padding: 4px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 10px;
        margin: 20px auto;
    }

    &__btn__create-recipe {
        background-color: $color_green;
        padding: 10px 32px;
        font-size: 16px;
        width: 80%;
    }

    &__btn__log-out {
        position: absolute;
        top: 0;
        left: 0;
        padding: 6px 10px;
        margin: 0;
    }

    &__empty {
        text-align: center;
        margin-top: 50px;
        padding: 0 40px;
    }
}